.login {
  width: 100%;
  height: 74.5vh; 
  display: grid;
  place-items: center;
}

.form-container {
  display:grid;
  grid-template-rows: auto 1fr auto;
  width: 300PX;
  justify-items: center;
}

.logo {
  width: 170px;
  margin-bottom: 20px;
  justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.input-name, .input-email, .input-password {
  margin-bottom: 22px;
}

.input {
  background-color: var(--text-input-field);
  border: solid 1px var(--verey-light-pink);
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  background-color: var(--verey-light-pink);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font: var(--md);
  font-weight: bold;
  height: 50px;
  margin-top: 18px;
}

.primary-button:hover {
  background-color: var(--hard-pink);
  border: 1px solid var(--fuccia);
  transition: .5s;
}
@media (max-width: 640px) {

  .login {
    height: 77.5vh;
  }

  .logo {
    display: block;
}
  .primary-button {
      margin-bottom: 36px;
  }
}

