<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
  <div class="login">
      <div class="form-container">
        <img src="../../../../assets/images/logo_unicorn_name.svg" alt="logo" class="logo">

          <form action="/" class="form">
              <label for="email" class="label">Email address</label>
              <input type="text" placeholder="mail@mail.com" id="email" class="input input-email">
              <label for="password" class="label">Password</label>
              <input type="password" placeholder="*********" id="password" class="input input-password">

              <input routerLink="/" type="submit" name="" id="" value="Confirm" class="primary-button login-button">
              <a href="/">Forgot my password</a>
          </form>
          <button routerLink="/signup" class="secundary-button signup-button">Sign Up</button>
      </div>
  </div>
</body>
</html>
